* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.heading{
  margin-bottom: 8px;
  text-align: left;
  color: #508ad4;
}

table{
  height: 360px;
}



table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.loading_class{
  border: none;
  text-align: center;
}

th {
  background-color: #99b7dd;
  font-size: 20px;
  padding: 6px;
  width: 140px;
}

.table_data{
  font-size: 1.1rem;
  padding: 8px;
}
